.container.marketing
  .row.featurette
    .col-md-6
      %h2.featurette-heading
        CONTACT US!
      %p.lead
        Our company is located at: 
        %br
        199 E. Montgomery Ave.
        %br
        Rockville, MD 20850 
        %br
        %br
        Our R&D Lab is located at:
        %br
        30 Courthouse Square
        %br
        Rockville, MD 20850
        %br
        (240)599-8034
        %br
        %br
        = link_to 'contact@clearton.com','mailto:contact@clearton.com', target: '_top'
    .col-md-5
      %br
      %br
      %br
      %br
      %br
      %br
      =image_tag('map.jpg', style: 'max-width:100%;', class: 'featurette-image img-responsive center-block')
